@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F3EBE2;
}

nav{
    width: 100%;
    display: flex;
    background-color: #DD224E;
}
#logo{
    margin-left: 5%;
}
#logo.img{
    max-width: 100%;
    height: 50%;
}
.search input[type=text] {
    width: 300px;
    height: 25px;
    padding-left: 30px;
    border-radius: 25px;
    border: none;
}
.search{
    margin-top: 2.5%;
    margin-left: 10%;
}
.container-mainzinho{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 2px solid #F0C798;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
}
#Subtitulopag{
    border-bottom: 2px solid #F0C798;
    grid-column: 2/9;
    grid-row: 3/4;
}
#Subtitulopag > p{
    margin-top: 1%;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}
#subsubtitulo{
    grid-row: 4/5;
    grid-column: 2/5;
}
#containergen{
    background-color: #F3EBE2;
    grid-row: 5/10;
    grid-column: 2/9;
    border-radius: 10px;
}
#prompter{
    width: 100%;
    padding: 0.5% 1%;
    background-color: #F3EBE2;
}
#botao{
    grid-row: 11/13;
    grid-column: 5/7;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #F18F01, #CA7700);
}
#titulo{
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #F0C798;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
#recebaseupedido{
    grid-row: 16/17;
    grid-column: 2/9;
    border-bottom: 2px solid #F0C798;
}
