@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
    --vermelho: #f12b5a;
    --amarelo: #f18f01;
    --gelo: #f3ebe2;
    --marrom: #2e0e02;
    --creme: #f0c798;
    --marrom-claro: #663f30;
    --amarelo-escuro: #ca7700;
    --vermelho-escuro: #c81f47;
    --branco: #fff;
    --linear-vermelho: linear-gradient(#f12b5a, #c81f47);
    --linear-amarelo: linear-gradient(#f18f01, #ca7700);
    --font-family: "Roboto", sans-serif;
  }

*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

body{
    background-color: #F3EBE2;
}

header{
    width: 100%;
    display: flex;
    background-color: #DD224E;
    background: var(--linear-vermelho);
    justify-content: space-between;
}

.header-botoes {
    display: flex;
    align-items: center;
    gap: 40px;
  }

.barra-de-pesquisa input {
    font-size: 16px;
    color: rgba(46, 14, 2, 0.5);
    width: 600px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    padding-left: 60px;
  }
  
  .barra-de-pesquisa span {
    position: absolute;
    z-index: 5;
    margin-top: 7px;
    margin-left: 20px;
  }
  .botao-header {
    color: var(--marrom);
    font-weight: 700;
    font-size: 20px;
    background: var(--linear-amarelo);
    border-radius: 12px;
    padding: 10px 20px;
  }
  
  .botao-header:hover {
    background: var(--amarelo-escuro);
    cursor: pointer;
  }

  .retangulo-cadastro {
    display: flex;
    background: var(--vermelho);
    height: 88px;
    align-items: center;
    justify-content: center;
  }
  
  .retangulo-cadastro a {
    text-decoration: none;
    color: var(--gelo);
    font-weight: 700;
    font-size: 20px;
    padding: 0 12px;
  }

.container-mainzinho{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 2px solid #F0C798;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
}
#Subtitulopag{
    border-bottom: 2px solid #F0C798;
    grid-column: 2/9;
    grid-row: 3/4;
}
#Subtitulopag > p{
    margin-top: 1%;
    font-size: x-large;
    font-family: var(--font-family);
}
#subsubtitulo{
    grid-row: 4/5;
    grid-column: 2/5;
}
#containergen{
    background-color: #F3EBE2;
    grid-row: 5/10;
    grid-column: 2/9;
    border-radius: 10px;
}
#prompter{
    width: 100%;
    padding: 0.5% 1%;
    background-color: #F3EBE2;
}
#botao{
    grid-row: 12/13;
    grid-column: 5/7;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #F18F01, #CA7700);
}
#titulo{
    font-family: var(--font-family);
    border-bottom: 2px solid #F0C798;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
#recebaseupedido{
    grid-row: 15/17;
    grid-column: 2/9;
    border-bottom: 2px solid #F0C798;
}
