/* ---------------------------------------------------------------------------------------------------------- */

/* "header" padrão do html: inicio */

:root {
  --vermelho: #f12b5a;
  --amarelo: #f18f01;
  --gelo: #f3ebe2;
  --marrom: #2e0e02;
  --creme: #f0c798;
  --marrom-claro: #663f30;
  --amarelo-escuro: #ca7700;
  --vermelho-escuro: #c81f47;
  --branco: #fff;
  --linear-vermelho: linear-gradient(#f12b5a, #c81f47);
  --linear-amarelo: linear-gradient(#f18f01, #ca7700);
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-family);
}

main {
  background: var(--gelo);
}

.container {
  max-width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  gap: 40px;
}

.header {
  background: var(--linear-vermelho);
  height: 88px;
}

.header-botoes {
  display: flex;
  align-items: center;
  gap: 40px;
}

.botoes-nao-geracao {
  display: flex;
}

.barra-de-pesquisa input {
  font-size: 16px;
  color: rgba(46, 14, 2, 0.5);
  width: 500px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  padding-left: 60px;
}

.barra-de-pesquisa span {
  position: absolute;
  z-index: 5;
  margin-top: 7px;
  margin-left: 20px;
}

.retangulo-cadastro {
  display: flex;
  background: var(--vermelho);
  height: 88px;
  align-items: center;
  justify-content: center;
}

.retangulo-cadastro a {
  text-decoration: none;
  color: var(--gelo);
  font-weight: 700;
  font-size: 20px;
  padding: 0 12px;
}

.retangulo-cadastro-off {
  background: transparent;
}

.botao-header {
  color: var(--marrom);
  font-weight: 700;
  font-size: 20px;
  background: var(--linear-amarelo);
  border-radius: 12px;
  padding: 10px 20px;
}

.botao-header:hover {
  background: var(--amarelo-escuro);
  cursor: pointer;
}


/* "header" padrão do html: fim */

/* ---------------------------------------------------------------------------------------------------------- */

.grid {
  display: grid;
  grid-template-columns: 420px 1fr;
}

aside {
  padding-top: 40px;
  background: var(--vermelho-escuro);
  text-align: end;
}

aside ul a {
  font-weight: 600;
  text-decoration: none;
  color: var(--marrom);
}

aside ul li {
  padding: 18px 60px;
}

.selecionado {
  background: var(--vermelho);
  width: 100%;
  height: 100%;
}

.selecionado a {
  color: var(--gelo);
}

.conteudo-principal {
  max-width: 1000px;
  margin-left: 20px;
}

.alert-error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.alert-success {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.conteudo-principal h1 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  color: var(--marrom);
  border-bottom: 2px solid var(--creme);
}

.caixa-main {
  background: var(--branco);
  border: 2px solid var(--creme);
  border-radius: 12px;
}

.conteudo-info {
  max-width: 800px;
  margin: 0 auto;
}

.conteudo-info h2 {
  font-size: 32px;
  font-weight: 500;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: var(--marrom);
  border-bottom: 2px solid var(--creme);
}

.main-form {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 20px;
  background: var(--gelo);
  border-radius: 12px;
  padding-left: 20px;
  font-size: 20px;
  color: rgba(46, 14, 2, 0.5);
}

.container-botao {
  display: flex;
  justify-content: center;
}

.botao {
  margin-bottom: 40px;
  margin-top: 60px;
  border-radius: 12px;
  padding: 10px 20px;
  background: var(--vermelho);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--gelo);
}

.botao:hover {
  background: var(--vermelho-escuro);
  cursor: pointer;
}

.container-detalhe {
  display: flex;
  justify-content: center;
}

.container-detalhe img {
  padding-top: 60px;
  padding-bottom: 120px;
}

.footer {
  background: var(--marrom);
}

.footer-info {
  padding-top: 84px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--marrom-claro);
}

.footer-info1 a:first-of-type {
  margin-left: 40px;
}

.footer-info1,
.footer-info2 {
  display: flex;
  gap: 20px;
  align-items: end;
}

.footer-info1 a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: var(--gelo);
}

.footer-info2 a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--gelo);
}

.footer-socials {
  padding-top: 44px;
  padding-bottom: 120px;
  display: flex;
  gap: 60px;
  margin: 0 auto;
}

.footer p {
  font-weight: 400;
  font-size: 12px;
  color: var(--marrom-claro);
  text-align: center;
  padding-bottom: 20px;
}


@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }

  .flex {
    gap: 20px;
  }

  .header-botoes {
    gap: 20px;
  }

  .barra-de-pesquisa input {
    width: 250px;
  }

  .conteudo-principal {
    padding: 0 20px;
  }

  .conteudo-principal h1 {
    font-size: 32px;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .conteudo-info h2 {
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .botao {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .container-detalhe img {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .footer-info {
    padding-top: 42px;
    padding-bottom: 10px;
  }

  .footer-info1 a:first-of-type {
    margin-left: 0px;
  }

  .footer-info1 {
    align-items: start;
  }

  .footer-info1,
  .footer-info2 {
    flex-direction: column;
    gap: 20px;
  }

  .footer-info2 {
    align-items: end;
  }

  .footer-socials {
    padding-top: 22px;
    padding-bottom: 60px;
    gap: 30px;
  }

  .social-icone img {
    width: 40px;
    height: auto;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: auto 1fr;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .flex {
    gap: 80px;
  }

  #btn-mobile {
    display: flex;
    cursor: pointer;
  }

  .header-botoes {
    display: none;
  }

  .botao-header {
    font-size: 14px;
  }

  .barra-de-pesquisa input {
    width: 100%;
  }

  aside {
    width: 100%;
    padding: 40px 20px 0;
    text-align: start;
  }

  aside ul {
    display: flex;
    justify-content: space-between;
  }

  aside ul li {
    padding: 18px 30px;
  }

  .conteudo-principal {
    padding: 20px;
  }

  .conteudo-principal h1 {
    font-size: 28px;
  }

  .conteudo-info h2 {
    font-size: 24px;
  }

  .botao {
    padding: 8px 16px;
    font-size: 20px;
  }

  .container-detalhe img {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
  }

  .footer-info1 {
    align-items: center;
  }

  .footer-info2 {
    align-items: center;
  }

  .footer-socials {
    flex-direction: column;
    gap: 20px;
  }
}
